<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/styles.css">
  </head>
  <body>
    <header>
      <h1><a href="/">My Blog</a></h1>
    </header>
    
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects.html">Projects</a></li>
        <li><a href="/articles.html">Articles</a></li>
      </ul>
    </nav>
    
    <main>
      <article>
        <h2>{{title}}</h2>
        <p>{{content}}</p>
      </article>
    </main>
    
    <footer>
      <p>&copy; My Blog</p>
    </footer>
  </body>
</html>
